<section>
  <div><h3>{{title}}</h3><p>Created by
      {{user.username}}
      on
      {{created_on}}</p></div>

  <p>{{content}}</p>
  <div><button id="updatePost" onclick="updatePost({{id}})">Update Post</button>

    <button id="deletePost" onclick="deletePost({{id}})">Delete Post</button></div>

</section>