<section class="card">
  <a href="/api/posts/{{id}}">
  <div><header class="postHeader">{{title}}</header>
    </a>
     <p>Created by {{user.username}} on {{created_on}}</p>
    </div>

    <p>{{content}}</p>

  

</section>