<section class="card">

  <div class="homePostHeader">
    <a href="/api/posts/{{id}}">
      <header class="postTitle"><h3>{{title}}</h3></header>
    </a>
    <p>Created by
      {{user.username}}
      on
      {{created_on}}</p>
  </div>

  <p class="homePostContent">{{content}}</p>

</section>