<section class="card">
  <div >
    <header class="homePostHeader">
      <h2>{{posts.title}}</h2>
      <p>Created by {{posts.user.username}} on {{posts.created_on}}</p>
    </header>
    <div class="homePostContent">
      {{posts.content}}
    </div>
    <div class="btnGroup">

      <button id="commentButton" class="lgnbtn">Add Comment</button>
    </div>
    
  </div>
</section>

<section class="card" id="addComment" data-post={{posts.id}} data-user={{user_id}}>
  <header><h4 class="homePostHeader cmnt">New Comment</h4></header>
  
  <form id="comment-form" class="form login-form homePostContent"><div><textarea
        name="newComment"
        id="newComment"
        cols="30"
        rows="10"
        class="form-input"
      ></textarea></div>
      <div class="btnGroup">
        <button id="saveComment" class="lgnbtn" type="submit">Save Comment</button>
      </div>
    
  </form>

</section>

<section id="loadComments">
    {{#each posts.comments as |comment|}}
    {{>comment-details}}
    {{/each}}
</section>

<script src="/js/comment.js"></script>